.HCHero {
  display: flex;
  flex-direction: column;
  background-image: url("background.webp");
  background-size: cover;
  color: #ffffff;
  height: 100vh;
  padding: 0 50px;
}
.HCHeroHeading {
  font-size: 70px;
  font-weight: bolder;
  padding: 20px 0;
}
.HCHeroSubHeading {
  font-size: 20px;
  letter-spacing: 2px;
  padding: 20px 0;
}
.HCButtonSection {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: space-between;
}
.HCButtonSection button {
  margin: 10px 0;
  font-size: 1.5rem;
  padding: 15px 20px;
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 30px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.HCButtonSection button:hover {
  background-color: #003dda;
}

@media screen and (max-width: 1000px) {
  .HCHeroHeading {
    font-size: 50px;
  }
  .HCHeroSubHeading {
    font-size: 18px;
  }
  .HCButtonSection {
    width: 80%;
  }
  .HCButtonSection button {
    margin: 10px 0;
    padding: 10px 15px;
  }
}
@media screen and (max-width: 700px) {
  .HCHeroHeading {
    font-size: 35px;
    letter-spacing: 2px;
  }
  .HCHeroSubHeading {
    font-size: 16px;
  }

  .HCButtonSection {
    width: 100%;
  }
}

@media screen and (max-width: 530px) {
  .HCHeroHeading {
    font-size: 25px;
    letter-spacing: 1px;
  }

  .HCButtonSection {
    width: 100%;
    justify-content: space-between;
  }
  .HCButtonSection button {
    margin: 5px 0;
    padding: 10px 10px;
    font-size: 1rem;
  }
}
