.Niches{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.NichesContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 98vw;
  overflow: hidden;
}
.NichesBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid rgba(238, 238, 238, 1);
  width: 350px;
  height: auto;
  padding: 15px;
  margin: 20px;
  border-radius: 20px;
  cursor: pointer;
  color: #222222;
  text-decoration: none;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  &:hover {
    box-shadow: 0px 20px 16px 0px rgba(41, 1, 102, 0.5),
      -8px 0px 8px -6px rgba(41, 1, 102, 0.5),
      8px 5px 8px -6px rgba(41, 1, 102, 0.5);
    transform: translateY(4px);
  }
}
.NichesBox h3 {
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: bolder;
  padding: 5px 0;
}
.NichesBox span {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #666666;
}
@media screen and (max-width: 500px) {
  .NichesBox h3 {
    font-size: 18px;
  }
  .NichesBox span {
    font-size: 16px;
  }
  .NichesBox i {
    font-size: 20px;
  }
}

.NichesBottomHeading {
  color: #222222;
  font-size: 50px;
  font-weight: bolder;
  margin: 20px 30px;

  span {
    color: #0014a5;
  }
}
.NichesBottomUnderline {
  border: 1px solid #222222;
  margin: 20px 0;
  margin: 0 30px;

}
