.HCHelpContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.HCHelpContainerLeft,
.HCHelpContainerRight {
  width: 50%;
}
.HCHelpContainerLeft img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  max-height: 500px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(212, 212, 212, 0.8), 0px 8px 10px -5px rgba(212, 212, 212, 0.8); 
}
.HCHelpContainerRight {
  padding: 24px;
  h1 {
    font-size: 50px;
    font-weight: bolder;
    color: #202020;
  }
  p {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 300;
  }
}
@media screen and (max-width: 700px) {
  .HCHelpContainer {
    flex-direction: column;
    margin: 0 20px;
  }
  .HCHelpContainerLeft,
  .HCHelpContainerRight {
    width: fit-content;
  }
  .HCHelpContainerLeft img {
    max-height: 400px;
  }
  .HCHelpContainerRight {
    h1 {
      font-size: 25px;
    }
    p {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 400px) {
  .HCHelpContainerLeft img {
    max-height: 300px;
  }
}
