.HCStats {
  display: flex;
  background-image: url("background.webp");
  flex-direction: column;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.HCStats h1 {
  font-size: 60px;
  text-align: center;
  font-weight: bolder;
  margin: 50px 0;
}
.HCStatsContainer {
  display: flex;
  section p {
    text-align: center;
    padding: 5px;
  }
}
.HCStatsContainerHeading {
  font-size: 25px;
}
.HCStatsContainerDesc {
  font-size: 16px;
  letter-spacing: 1px;
}
@media screen and (max-width: 1000px) {
  .HCStats {
    padding: 20px 0;
  }
  .HCStatsContainer {
    flex-direction: column;
  }
  .HCStats h1 {
    margin: 20px 0;
    font-size: 40px;
  }
}

.HCStatsHeading{
  color: #222222;
  font-size: 50px;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-top: 50px;
  margin: 20px 30px;
}
.HCStatsUnderline{
  border: 1px solid #222222;
  margin: 0 30px;
}